/.vscode
/browser.py
/is.py
/Ishita_Game.html
/javacodes
/portfolio
/portfolio.html
/Screenshot 2025-11-06 105418.png
/Screenshot 2025-11-06 105438.png
/team.exe
/test.html
/try.html
/validate.html
*.exe